.chatWindow {
  height: 200px;
  background-color: #2c3e50;
  overflow: auto;
  flex-grow: 1;
  border-radius: 4px;
  * {
    overflow-anchor: none;
  }
  #anchor {
    overflow-anchor: auto;
    height: 1px;
  }
  .msg {
    margin: 5px;
    .msgWrapper {
      display: inline-block;
      text-align: left;
      padding: 10px 15px;
      background: #3498db;
      color: white;
      border-radius: 4px;
    }
    .userName {
      font-size: 12px;
      color: #2c3e50;
    }
    .msgText {
      font-size: 16px;
      white-space: pre;
    }
    &.self {
      .msgWrapper {
        background: #e67e22;
      }
    }
    &.boti {
      .msgWrapper {
        background: none;
        border: 1px solid #3498db;
      }
      .userName {
        color: #3498db;
      }
    }
  }
}