.client {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.inputsContainer {
  display: flex;
  font-size: 16px;
  margin-top: 10px;
  .msgInput {
    font-size: inherit;
    padding: 5px;
    border: 1px solid #2c3e50;
    border-radius: 4px;
    flex-grow: 1;
    margin-right: 5px;
    outline: none;
  }
  .sendBtn {
    padding: 10px 20px;
    background: #2ecc71;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
  }
}