@import 'fonts';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ececec;
}

.home {
  display: block;
  height: calc(100vh - 20px);
  margin: 10px;
  background: #fff;
  border-radius: 5px;
  padding: 15px;
}